@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#mainContainer {
	display: flex;
	justify-content: center;
	gap: 100px;
	padding-top: 100px;
	flex-wrap: wrap;
}

#statsViewer {
	margin-top: 20px;
	width: 100%;
	max-width: 600px;
	height: auto;
	min-height: 700px;
	border: rgba(255, 255, 255, 0.432);
	border-width: 1px;
	border-style: dashed;
	display: flex;
	box-shadow: 0 0 15px;
	align-items: center;
	padding: 20px;
	flex-direction: column;
}

#statsViewer h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 50px;
	color: #edf0f1;
	text-decoration: none;
}

#leaderboard {
	margin-top: 20px;
	width: 90%;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.158);
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
	border-color: rgba(255, 255, 255, 0.438);
	border-width: 2px;
	border-style: solid;
}

#filters {
	display: flex;
	gap: 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    flex-wrap: wrap;
}

#player-search {
	border: none;
	background-color: rgba(255, 255, 255, 0.473);
	font-size: 18px;
	padding: 10px 12px;
	border-radius: 8px;
	outline: none;
    flex: 1;
    flex-basis: 60%;
}

#province-filter {
    flex: 1;
	border: none;
	background-color: rgba(255, 255, 255, 0.473);
	font-size: 16px;
	padding: 10px 10px;
	border-radius: 8px;
	outline: none;
}

#province-filter option {
    font-size: 16px;
}

#userStats {
	margin-top: 20px;
	width: 600px;
	min-height: 700px;
	border: rgba(255, 255, 255, 0.432);
	border-width: 1px;
	border-style: dashed;
	display: flex;
	box-shadow: 0 0 15px;
	align-items: center;
	/* padding: 20px; */
	flex-direction: column;
}

#userStats h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 50px;
	color: #edf0f1;
	text-decoration: none;
	margin-bottom: 30px;
}

#players-list {
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	list-style: none;
}

#player-name-icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 50px;
}

#player-name {
	text-align: center;
}

#player-name-icon img {
	height: 100px;
}

#player-name-icon img:last-child {
	aspect-ratio: 1/1;
	border-radius: 50%;
}

#players-list {
	width: 100%;
}

#players-list > li > div {
	display: flex;
	padding: 20px;
	cursor: pointer;
	align-items: center;
	gap: 20px;
}

#players-list img {
	width: 30px;
}

.player-container-1 {
	background-color: rgba(39, 39, 39, 0.26);
}

.player-container-2 {
	background-color: rgba(63, 63, 63, 0.26);
}

#players-list div h2 {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#players-list div h3 {
	color: rgb(153, 153, 153);
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

#top-stats {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	padding: 10px;
}

.top-container h2 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: 800;
	margin-bottom: 10px;
}

#top-stats p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}

#completions-container {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	margin-top: 20px;
}

.completions-div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.completions-div ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	margin: 10px 20px;
}

.completions-div ul li a h2 {
	color: rgb(199, 199, 199);
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-style: italic;
}

.completions-title {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 800;
}

#completions-list li {
	font-family: 'Montserrat', sans-serif;
	color: rgb(105, 105, 105);
	text-align: center;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	padding: 2px 3px;
}

#first {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 800;
}

.hide {
	display: none;
}

@media only screen and (max-width: 650px) {
	#player-name-icon img {
		width: 75px;
		height: 75px;
	}

	.level-container {
		width: 370px;
	}

	.level-name {
		font-size: 25px;
	}

	.level-img {
		width: 150px;
		height: 84.38px;
	}

	#logo {
		font-size: 20px;
	}

	header li,
	a,
	button {
		font-size: 15px;
	}

	.cta button {
		margin: 0;
		padding: 9px 20px;
	}

	header {
		padding: 10px;
	}

	#statsViewer {
		width: 95%;
	}

	#leaderboard {
		width: 90%;
	}

	#statsViewer h1 {
		font-size: 30px;
	}

	#leaderboard input {
		font-size: 20px;
	}

	#userStats {
		width: 95%;
	}

	#userStats h1 {
		font-size: 30px;
	}

	#completions-container {
		gap: 20px;
	}

	.top-container h2 {
		font-size: 25px;
		height: auto;
	}

	#players-list div h2 {
		font-size: 20px;
	}
}
