@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#levels-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.level-container{
    margin-top: 20px;
    width: 700px;
    height: 150px;
    border: rgba(255, 255, 255, 0.432);
    border-width: 1px;
    border-style: dashed;
    display: flex;
    box-shadow: 0 0 15px;
    overflow: hidden;
}

.level-img{
    position: relative;
    width: 206.52px;
    height: 116.16px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px;

}

.level-img:hover{
    transition: all 0.3s ease;
    top: 40%;
    transform: translate(0, -40%);
}

.level-name{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    font-size: 30px;
    cursor: pointer;
}

.level-creator{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: rgb(164, 164, 164);
    font-size: 20px;
    font-style: italic;
    cursor: default;
}

.level-text-container{
    position: relative;
    top: 20px;
}

#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin: 20px;
    box-shadow: 0 0 15px;
    background-color: none;
    border: rgba(255, 255, 255, 0.432);
    border-width: 1px;
    border-style: dashed;
}

#search-bar i{
    font-size: 20px;
    color: white;
}

#search-bar input{
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    background: none;
    color: white;
}

@media only screen and (max-width: 750px) {
    .level-container{
        width: 80%;
        height: 110px;
    }
    .level-name{
        font-size: 15px;
    }
    .level-creator{
        font-size: 15px;
    }
    .level-img{
        width: 100px;
        height: 56px;
    }
    #logo{
        font-size: 20px;
    }
    header li, a, button{
        font-size: 15px
    }
    .cta button {
        margin: 0;
        padding: 9px 20px;
    }
    header{
        padding: 10px;
    }
  }